---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import LinkItem from "../components/LinkItem.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Github from "../components/Icons/Github.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Amadeo Mosquera Capozzi">
  <NavBar />
  <SectionContainer class="md:my-24 my-10" id="Home">
    <div
      class="flex mx-auto flex-col space-y-4 mt-24 md:mt-4 items-start md:px-0 px-3"
    >
      <h2 class="text-2xl font-bold text-white">I craft interfaces</h2>
      <p class="text-neutral-400 w-full md:max-w-2xl">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <LinkItem href="">
        <Github class="size-4" />
        GitHub
      </LinkItem>
    </div>
  </SectionContainer>
  <SectionContainer class="md:mt-24 mt-20 md:px-0 px-3">
    <h1 class="text-xl text-neutral-200 font-medium">Selected projects</h1>
    <Projects class="my-5" />
  </SectionContainer>
  <SectionContainer class="mt-10">
    <h1 class="text-xl text-neutral-200 font-medium">Experience</h1>
    <Experience class="my-5" />
  </SectionContainer>
</Layout>
