---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import LinkItem from "../components/LinkItem.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Github from "../components/Icons/Github.astro";
---

<Layout title="Welcome to Astro.">
  <NavBar />
  <SectionContainer class="my-24" id="Home">
    <img
      class="object-cover w-20 h-20 rounded-full"
      src="https://media.discordapp.net/attachments/1287833657695801368/1300572751966376027/20240525_164807.png?ex=67215443&is=672002c3&hm=54388e4cbceea535089318101ac26601dde27029d021d3c13a74e237f803218e&=&format=webp&quality=lossless&width=263&height=350"
      alt="personal-image"
    />
    <div class="space-y-4 flex-1 max-w-2xl my-3">
      <h2 class="text-2xl font-bold text-neutral-300">I craft interfaces</h2>
      <p class="text-neutral-400">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <LinkItem href="">
        <Github class="size-4" />
        GitHub
      </LinkItem>
    </div>
  </SectionContainer>
  <SectionContainer class="my-28">
    <h1 class="text-xl text-neutral-300 font-medium">Selected projects</h1>
    <Projects />
  </SectionContainer>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
